# Branches that trigger a build on commit
trigger:
- master
- release/*
- 2.9.x

# Branch(es) that trigger(s) build(s) on PR
pr:
- master
- release/*
- 2.9.x

jobs:
- job: Windows
  strategy:
    maxParallel: 4
    matrix:
      Debug:
        _configuration: Debug
        _codeCoverage: True
      Release:
        _configuration: Release
        _codeCoverage: False
  pool:
    name: NetCorePublic-Pool
    queue: BuildPool.Windows.10.Amd64.VS2019.Pre.Open
  timeoutInMinutes: 40

  steps:
    - checkout: self
      clean: true
    - script: eng\common\cibuild.cmd -configuration $(_configuration) -prepareMachine /p:Coverage=$(_codeCoverage)
      displayName: Build and Test

    - task: PublishTestResults@2
      inputs:
        testRunner: XUnit
        testResultsFiles: '$(Build.SourcesDirectory)\artifacts\TestResults\$(_configuration)\*.xml'
        mergeTestResults: true
        testRunTitle: 'Windows $(_configuration)'
      condition: always()
    - script: dotnet msbuild -binaryLogger:artifacts\log\$(_configuration)\uploadCodeCov.binlog;ProjectImports=Embed -restore eng/CodeCoverage.proj
      displayName: Upload coverage to codecov.io
      condition: and(succeeded(), eq(variables['_codeCoverage'], True))
    - task: PublishBuildArtifacts@1
      displayName: Publish Logs
      inputs:
        PathtoPublish: '$(Build.SourcesDirectory)\artifacts\log\$(_configuration)'
        ArtifactName: 'Windows $(_configuration)'
      continueOnError: true
      condition: not(succeeded())

- job: Windows_Desktop_Spanish_Unit_Tests
  strategy:
    maxParallel: 4
  pool:
    name: NetCorePublic-Pool
    queue: BuildPool.Windows.Amd64.VS2019.Pre.ES.Open
  timeoutInMinutes: 40

  steps:
    - checkout: self
      clean: true
    - script: eng\common\cibuild.cmd -prepareMachine
      displayName: Build and Test

    - task: PublishTestResults@2
      inputs:
        testRunner: XUnit
        testResultsFiles: '$(Build.SourcesDirectory)\artifacts\TestResults\Debug\*.xml'
        mergeTestResults: true
        testRunTitle: 'Windows Desktop Spanish'
      condition: always()
    - task: PublishBuildArtifacts@1
      displayName: Publish Logs
      inputs:
        PathtoPublish: '$(Build.SourcesDirectory)\artifacts\log\Debug'
        ArtifactName: 'Windows Desktop Spanish'
      continueOnError: true
      condition: not(succeeded())
