# Branches that trigger a build on commit
trigger:
  - master
  - 2.9.x

variables:
  - name: _TeamName
    value: Roslyn
  - name: _DotNetArtifactsCategory
    value: .NETCore

stages:
- stage: build
  displayName: Build
  jobs:
  - template: /eng/common/templates/jobs/jobs.yml
    parameters:
      enableMicrobuild: true
      enablePublishBuildArtifacts: true
      enablePublishTestResults: true
      enablePublishBuildAssets: true
      enablePublishUsingPipelines: true
      enableTelemetry: true
      jobs:
      - job: Signed_Build
        pool:
          name: NetCoreInternal-Pool
          queue: BuildPool.Windows.10.Amd64.VS2019
        variables:
          - group: DotNet-Blob-Feed
          - group: Publish-Build-Assets
          - name: _BuildConfig
            value: Release
          - name: _SignType
            value: real
        steps:
        - checkout: self
          clean: true
        - script: eng\common\CIBuild.cmd 
                    -configuration $(_BuildConfig)
                    -binaryLog
                    /p:OfficialBuildId=$(BUILD.BUILDNUMBER)
                    /p:DotNetSignType=$(_SignType)
                    /p:DotNetSymbolServerTokenMsdl=$(microsoft-symbol-server-pat)
                    /p:DotNetSymbolServerTokenSymWeb=$(symweb-symbol-server-pat)
                    /p:PublishToSymbolServer=true
                    /p:DotNetPublishToBlobFeed=true
                    /p:DotNetPublishBlobFeedKey=$(dotnetfeed-storage-access-key-1)
                    /p:DotNetPublishBlobFeedUrl=https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json
                    /p:DotNetArtifactsCategory=$(_DotNetArtifactsCategory)
                    /p:DotnetPublishUsingPipelines=true
          displayName: Build and Test

        # Archive NuGet packages to DevOps.
        - task: PublishBuildArtifacts@1
          displayName: Publish Artifact Packages
          inputs:
            PathtoPublish: 'artifacts\packages\$(_BuildConfig)'
            ArtifactName: 'Packages'
          condition: succeeded()

        # Archive VSIX packages to DevOps.
        - task: PublishBuildArtifacts@1
          displayName: Publish Artifact VSIXes
          inputs:
            PathtoPublish: 'artifacts\VSSetup\$(_BuildConfig)'
            ArtifactName: 'VSIXes'
          condition: succeeded()

- template: eng\common\templates\post-build\post-build.yml
  parameters:
    enableSymbolValidation: false
    enableSigningValidation: false
    enableSourceLinkValidation: false
    enableNugetValidation: false