<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c)  Microsoft.  All Rights Reserved.  Licensed under the Apache License, Version 2.0.  See License.txt in the project root for license information. -->

<configuration>
  <packageRestore>
    <!-- Currently, doing a restore from VS causes NuGet to stackoverflow. (https://github.com/NuGet/Home/issues/2558)  -->
    <add key="automatic" value="false" />
  </packageRestore>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="MyGet Roslyn" value="https://www.myget.org/F/roslyn-nightly/" />
    <add key="MyGet CoreFX" value="https://www.myget.org/F/dotnet-core/" />
  </packageSources>
</configuration>
