<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Common diagnostic rules for all non-shipping projects" Description="Enables/disable rules specific to all non-shipping projects." ToolsVersion="14.0">
  <!-- Include all shipping Roslyn-Analyzers project build rules -->
  <Include Path=".\Analyzers_ShippingRules.ruleset" Action="Default" />

  <Rules AnalyzerId="Microsoft.ApiDesignGuidelines.Analyzers" RuleNamespace="Microsoft.ApiDesignGuidelines.Analyzers">
    <!-- IdentifiersShouldNotContainUnderscores - test names contain underscores and this is fine -->
    <Rule Id="CA1707" Action="None" />
  </Rules>
  
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers.Maintainability">
    <!-- Mark member as static rule has many violations in non-shipping projects -->
    <Rule Id="CA1822" Action="None" />

    <!-- Do not directly await a task - not useful for tests -->
    <Rule Id="CA2007" Action="None" />
  </Rules>
</RuleSet>
