<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Common diagnostic rules for all Roslyn Analyzer projects"
         Description="This file contains diagnostic settings used by all Roslyn Analyzer projects. Projects that need specific settings should have their own rule set files that Include this one, and then make the necessary adjustments." 
         ToolsVersion="14.0">

  <Rules AnalyzerId="Microsoft.ApiDesignGuidelines.Analyzers" RuleNamespace="Microsoft.ApiDesignGuidelines.Analyzers">
    <!-- ValidateArgumentsOfPublicMethods - only useful for libraries with supported public API surface, we don't have any -->
    <Rule Id="CA1062" Action="None" />
  </Rules>
  
  <Rules AnalyzerId="System.Runtime.Analyzers" RuleNamespace="System.Runtime.Analyzers">
    <!-- DoNotPassLiteralsAsLocalizedParameters - primarily useful for libraries where public APIs throw exceptions, and the messages need to be localized -->
    <Rule Id="CA1303" Action="None" />
  </Rules>

  <Rules AnalyzerId="Roslyn.Diagnostics.Analyzers" RuleNamespace="Roslyn.Diagnostics.Analyzers">
    <!-- Do not use generic 'CodeAction.Create' to create 'CodeAction', there is no agreement on what to do for roslyn-analyzer repo -->
    <Rule Id="RS0005" Action="None" />
    <!-- Parts exported with MEFv2 must be marked with 'SharedAttribute', un-needed here -->
    <Rule Id="RS0023" Action="None" />
    <!-- Exported parts should be marked with 'ImportingConstructorAttribute', un-needed here -->
    <Rule Id="RS0034" Action="None" />
    <!-- Use 'null' instead of 'default' for nullable types -->
    <Rule Id="RS0038" Action="None" />
    <!-- Statements must be placed on their own line -->
    <Rule Id="RS0100" Action="None" />
  </Rules>

  <!-- 
    This package is a transitive dependency of Roslyn.Diagnostics.Analyzers and so is available for all projects
    while we only want it for Microsoft.CodeAnalysis.AnalyzerUtilities so let's disable the rules everywhere but
    on the required project. 
   -->
  <Rules AnalyzerId="Microsoft.CodeAnalysis.PublicApiAnalyzers" RuleNamespace="Microsoft.CodeAnalysis.PublicApiAnalyzers">    
    <Rule Id="RS0016" Action="None" />
    <Rule Id="RS0017" Action="None" />
    <Rule Id="RS0022" Action="None" />
    <Rule Id="RS0024" Action="None" />
    <Rule Id="RS0025" Action="None" />
    <Rule Id="RS0026" Action="None" />
    <Rule Id="RS0027" Action="None" />
    <Rule Id="RS0036" Action="None" />
    <Rule Id="RS0037" Action="None" />
    <Rule Id="RS0041" Action="None" />
    <Rule Id="RS0048" Action="None" />
  </Rules>
</RuleSet>